.kaufman__triangle {
  background: url(../../../../images/kaufman-triangle.svg) no-repeat center/cover;
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  top: 0;
  animation: var(--rotation-image);
}
